$base-colour: #FD5294;
$darkened-base-colour: rgba($base-colour, 0.9);
$title-bg-colour: #DC4782;

p {
  font-size: 0.8rem;
  color: white;
  font-family: 'Lato Regular';
}

a {
  text-decoration: none;
}
.monster-card-dark {
  background-color: $darkened-base-colour;
}

.monster-card-light {
  background-color: $base-colour;
}

.monster-card-style {
  padding-top: 15%!important;
  height: 20vh;
  font-weight: bold;
}

.monster-card-style:only-child {
  button{
    display: block!important;
  }
  .link-style{
    pointer-events: none;
  }
  width: 100vw;
  height: 100vh;
  font-size: 2rem!important;
  .details-container{
    display: block;
  }
}
